*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 108%;
}

html{
    font-size: 62.5%;
}

.container{
    height: 100%;
    width: 100%;
    background-color: #C4C4C4;
    font-family: 'Share Tech', sans-serif;
    position: relative;
}

.logo{
    font-weight: 600;
    font-size: 4.5rem;
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
}


ul li {
    display:inline-block;
    list-style: none;
    padding: 6px 20px;
    font-weight: 500;
    font-size: 1.5rem;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

ul li:hover {
    border-radius: 20px;
    background-color: #4a9ae9;
    color: #fff;
}

header {
    position: absolute;
    bottom: 30%;
    padding: 0 50px;
}

header h1 {
    font-size: 7rem;
    margin-top: 300px;
}

header h2 {
    font-size: 4rem;
}

header p {
    font-size: 1.8rem;
}

.img {
    width: 20px;
    height: 20px;
}


.img1 {
    position: absolute;
    height: 500px;
    width: 550px;
    right: 7%;
    padding: 80px 30px;
}

.img2 {
    position: relative;
    height: 300px;
    width: 420px;
    align-items: center;
    margin-left: 400px;
}

.img3 {
    position: relative;
    height: 400px;
    width: 520px;
    margin-left: 700px;
    margin-top: 100px;
}


